*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*top container with input and button*/
.add-reminder-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.add-reminder-cont > div{
    margin:8px;
    padding: 8px;
}
